.area{
    /* border: 1px solid gray; */
    background-color: aliceblue;
    width: 40%;
    margin: 10px;
    float: left;

}

.calculateArea{
    background-color: azure;
    width: 30%;
    margin: 10px;
    
}